.statistics-data {
  text-align: center;
}

.statistics-data p {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.statistics-data p:nth-child(1) span {
  color: rgb(28, 167, 0);
  font-weight: bold;
}

.statistics-data p:nth-child(2) span {
  color: rgb(255, 187, 0);
  font-weight: bold;
}

.statistics-data p:nth-child(3) span {
  color: rgb(255, 57, 57);
  font-weight: bold;
}

.statistics-data p:nth-child(1),
.statistics-data p:nth-child(2) {
  margin-right: 40px;
}

.statistics-data p:nth-child(4),
.statistics-data p:nth-child(5) {
  display: block;
  margin-top: 20px;
}

.statistics-data p:nth-child(5) {
  margin-top: 0;
}

.statistics-data p:nth-child(4) span,
.statistics-data p:nth-child(5) span {
  font-weight: 400;
  margin-left: 5px;
}
